section.authors
  .authors__container
    h3.authors__title Авторы
    .authors__content
      .authors-list
        .author-card
          .author-card__img
            img(src="./img/author1.jpg", alt="")
          .author-card__info
           span.author-card__name Имя автора
           span.author-card__branch Специальность
          .author-card__btn
            button Подписаться
        .author-card
          .author-card__img
            img(src="./img/author1.jpg", alt="")
          .author-card__info
           span.author-card__name Имя автора
           span.author-card__branch Специальность
          .author-card__btn
            button Подписаться
        .author-card
          .author-card__img
            img(src="./img/author1.jpg", alt="")
          .author-card__info
           span.author-card__name Имя автора
           span.author-card__branch Специальность
          .author-card__btn
            button Подписаться
      aside.authors-filters
        form.author-search
          input(type="text" placeholder="Поиск автора").author-search__input#searchInput
          button(type="submit").author-search__btn#searchBtn Поиск