doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Wordpress Blog Theme
        link(rel="stylesheet", href="css/main.css")
        script(defer, src="./js/index.bundle.js")
    body
        include blocks/header/header.pug
        include blocks/hero/hero.pug
        include blocks/blog/blog.pug