section.hero
  .hero__container
    .hero__content
      h1.hero__title Погружение в мир психологии
      p.hero__desc исследуйте себя и окружающих вместе с нашим онлайн-блогом
      button.hero-btn Читать блог