.blog-card
  .blog-card__img
    img(src="./img/photo01.jpg" alt="card photo")
  .blog-card__text
    .blog-card__name
      span.blog-card__title Заголовок поста
      .card-name__author
        |Имя Автора
        .card-name__date
          span.card-name__day 25.03.2024
          span.card-name__time 9:16
    .blog-card__desc
      p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    .blog-card__btn
      button Читать далее
.blog-card
  .blog-card__img
    img(src="./img/photo01.jpg" alt="card photo")
  .blog-card__text
    .blog-card__name
      span.blog-card__title Заголовок поста
      .card-name__author
        span Имя Автора
        .card-name__date
          span.card-name__day 25.03.2024
          span.card-name__time 9:16
    .blog-card__desc
      p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    .blog-card__btn
      button Читать далее
.blog-card
  .blog-card__img
    img(src="./img/photo01.jpg" alt="card photo")
  .blog-card__text
    .blog-card__name
      span.blog-card__title Заголовок поста
      .card-name__author
        span Имя Автора
        .card-name__date
          span.card-name__day 25.03.2024
          span.card-name__time 9:16
    .blog-card__desc
      p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    .blog-card__btn
      button Читать далее