aside.sidebar
  a(href="#!").sidebar__tag Название
  a(href="#!").sidebar__tag Тег 1
  a(href="#!").sidebar__tag Название секции
  a(href="#!").sidebar__tag Название секции
  a(href="#!").sidebar__tag Название
  a(href="#!").sidebar__tag Название
  a(href="#!").sidebar__tag Название