.header-nav
  include ./../nav/nav.pug
  .utils-buttons
    button.btn.btn-utils.btn-utils__login Войти
    button.btn.btn-utils.btn-utils__reg Регистрация
  .menu-btn
      span
      span
      span