nav.nav.menu
  ul.nav-list
    li.nav-item
      a(href="#!").nav-link Главная
    li.nav-item
      a(href="#!").nav-link Блог
    li.nav-item
      a(href="#!").nav-link Авторы
    li.nav-item
      a(href="#!").nav-link Ссылки
  .menu-btns
    button.btn.btn-utils.btn-utils__login Войти
    button.btn.btn-utils.btn-utils__reg Регистрация